<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href=".././css/custom.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DCE 2021</title>
  </head>
  <body>
    <div class="row head">
      <div class="col-md-8 text-md-left text-center">
        <img src="../img/logo_white.png" class="logo" />

        <img src="../img/DCE Logo.png" class="logo" />
      </div>
      <div class="col-md-4 register text-md-right text-center pt-md-5 pr-md-3">
        <button type="button" class="btn btn-danger mr-md-5">Register</button>
      </div>
    </div>
    <div class="row topic">
      <div class="row logo-group">
        <div class="col-md-8 pt-md-3 first mt-md-5">
          <div class="row logos mt-md-3 pt-md-3 pl-md-3">
            <img
              src=".././img/1200px-ADGPI_Indian_Army.svg.png"
              height="130px"
              width="auto"
            />
            <img
              src="../img/Indian_Navy_logo.png"
              height="130px"
              width="auto"
            />
            <img
              src=".././img/Badge_of_the_Indian_Air_Force.png"
              height="130px"
              width="auto"
            />
            <img src=".././img/Emblem of NCC.png" height="130px" width="auto" />
          </div>
        </div>
        <div class="col-md-4">
          <div
            class="row text-align-center text-bold pt-md-5 white"
            style="height: 78px; width: auto"
          >
            Our knowledge partner
          </div>
          <div class="row img-center">
            <img
              src="../img/DRaS LOGO (Knowledge partner).png"
              height="156px"
              width="auto"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 text white">
          Congratulations participant! You’ve taken the first step in the vast
          journey of experiencing the excitement offered to you by India’s Armed
          Forces. This will lead to a transformation within you, from which
          you’ll emerge excited, enthralled and educated. So I guess there’s
          only one thing left to ask you…
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row" style="width: 100%">
        <div class="col-md-4"></div>
        <div class="col-md-4 red text-extrabold">How’s the josh???</div>
        <div class="col-md-4"></div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
